.enabled-store{
}

.disabled-store{
  text-decoration: line-through;
}

.fieldset-caption,
.subsection-caption{
	padding-bottom: 0px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1%;
}

.fieldset{
  min-width: 90%;
	margin-top: 10px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
  margin-bottom: 50px;
}

.left-col,
.right-col,
.left-half,
.right-half{
  vertical-align: top;
  min-width: 10%;
  display: inline-block;
}

.right-col{
	margin-left: 5%;
}

.left-half,
.right-half{
  vertical-align: top;
  min-width: 40%;
  display: inline-block;
}

.right-half{
  margin-left: 5%;
  width: 40%;
}

.hint, .description{
  font-style: italic;
  font-size: 80%;
  color: #333;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none !important;
  text-align: left;
}

.key{
	font-size: 1.1em;
  font-weight: bold;
  font-family: sans-serif;
}

.options{
  list-style: none;
  display: inline;
  padding: 0px;
  margin: -1px;
  /*cursor: help;*/
}
